@model IEnumerable<DemoBookApp.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<h4> Add New Book</h4>
<form>
    <input asp-action="Create" type="submit" value="Create" class="btn btn-outline-primary" />
</form>
<br />
<h1>List of Books</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfPublishing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfPublishing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.Name)
            </td>
            <td>
                <form>
                        <input asp-action="Edit" asp-route-id="@item.BookId" type="submit" value="Edit" class="btn btn-dark" /> |
                        <input asp-action="Details" asp-route-id="@item.BookId" type="submit" value="Show Details" class="btn btn-primary" /> |
                        <input asp-action="Delete" asp-route-id="@item.BookId" type="submit" value="Delete" class="btn btn-danger" /> |
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
